$gray-base:                #000;
$gray-darker:              #2f2f2f;
$gray-dark:                #4a4a4a;
$gray:                     #666;
$gray-light:               #999;
$gray-lighter:             #f5f5f5;
$gray-lighter2:            #eee;
$white:                    #fff;

$brand-primary:            #92cc24;
$brand-secondary:          #3c4451;
$brand-success:            #92cc24;
$brand-info:               #3c4451;
$brand-warning:            #ffb70a;
$brand-danger:             #f7551f;

$brand-trajan:             #ca1dc9;
$brand-hadrian:            #18a918;
$brand-antoninus:          #0ecff1;
$brand-aurelius:           #277d82;
$brand-vespasian:          #f34a12;
