doctype html
html
	head
		meta(charset='UTF-8')
		title PLACEHOLDER
		link(href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons"
		rel="stylesheet")
		link(href="/assets/css/map-icons.min.css" rel="stylesheet")
	body
		div(id='root')
		script(type="text/javascript"
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUhRw6VotwLLTKOfQr3AyntWpSN5o5y4M&libraries=geometry")
		script(src="https://cdn.rawgit.com/googlemaps/v3-utility-library/master/markerwithlabel/src/markerwithlabel.js")
		script(src="/assets/js/map-icons.js")
